# top-most EditorConfig file
root = true

[*.go]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

[*.c]
indent_style = tab

[*.cpp]
indent_style = tab

[*.h]
indent_style = tab
