# top-most EditorConfig file
root = true

# common setting
[*]
charset = utf-8
end_of_line = lf

# for makefile
[Makefile]
indent_style = tab
indent_size = 8

# for shell script
[*.sh]
indent_style = space
indent_size = 2

# for go-lang
[*.go]
indent_style = tab
indent_size = 4

# for python
[*.py]
indent_style = space
indent_size = 4

# for javascript
[*.js]
indent_style = space
indent_size = 2

# for c-lang
[*.c]
indent_style = tab
indent_size = 4

# for c++
[*.cpp]
indent_style = tab
indent_size = 4

# for header file
[*.h]
indent_style = tab
indent_size = 4

# for ruby
[*.rb]
indent_style = space
indent_size = 2

# for ruby
[*.yml]
indent_style = space
indent_size = 2

# for xml
[*.xml]
indent_style = space
indent_size = 2
