[user]
    name = Shotaro Murai
    email = show.murai@gmail.com

[color]
    ui = auto

[alias]
    st = status -sb
    sh = show
    so = remote show origin
    ft = fetch
    up = pull --rebase
    ad = add
    ci = commit -v
    cam = commit --amend
    co = checkout
    sw = switch
    rs = restore

    # branch関連
    br = branch
    ba = branch -a
    bm = branch --merged
    bn = branch --no-merged

    # logをtree表示
    hi = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold yellow)― %an%C(reset)%C(bold red)%d%C(reset)' --abbrev-commit --date=relative
    hist = log --pretty=format:'%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ar%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b'

[core]
    editor = vim
    quotepath = false
    pager = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less

[pager]
    log = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
    show = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
    diff = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less

[diff]
    compactionHeuristic = true

[push]
    default = current

[pull]
    rebase = true

[init]
    defaultBranch = main

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
